body {
    background-color: wheat;
    color: wheat;
}

.paragraph{
    width: 60%;
    text-align: justify;
    font-family: Honk;
}

h1 {
    font-family: Angkor;
}

#myshape{
    height: 100px;
    width: 100px;
    margin: 30px;
    background-image: url("kapibara_logo.jpeg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    box-shadow: gray 5px 5px 5px;
    border-radius: 50%;
}

#myshape:hover {
    float: right;
}