body{
    margin: 0px;
    font-family: "Apple SD Gothic Neo";
}

#lorem_ipsum{
    padding: 10px;
    background-color: lightgray;
    border: black solid 1px;
}
#div_2{
    padding: 5px;
    border: black solid 1px;
    background-color: white;
}

#div_3{
    padding:14px;
    background-color: lightgray;
    border: white solid 5px;
}

#div_4{
    width: 50%;
    padding:14px;
    margin: 10px;
    background-color: lightgray;
    border: black solid 1px;
}
/*
asadasdasfasfaf

fsgaagagag
gagaag
*/

