body {
    background-color: #ececec;
    margin: 0px;
}

#header {
    font-family: "Doppio One";
    color: #225039;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    padding: 20px;
}

#themeat {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.contact_card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    margin-bottom: 20px;
}

.namespace {
    font-family: "Doppio One";
    font-size: 18px;
    background-color: #225039;
    color: white;
    font-weight: bold;
    padding: 12px;
    letter-spacing: 3px;
}

.card_content {
    padding: 10px;
    background-color: white;
}