body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ececec;
}

#header {
    font-family: "Rubik Mono One";
    text-align: center;
    font-size: 20px;
    letter-spacing: 12px;
    margin: 0;
    background-color: #e7e2da;
    color: #4d4545;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.form-container, .list-container {
    background: #f6f3f3;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 20px 40px;
}

legend {
    letter-spacing: 5px;
    font-size: 24px;
    color: #87837d;
}

.options {
    font-family: "Rubik Mono One";
    text-align: right;
    max-width: 70%;
    font-weight: bold;
}

.input_box {
    width: 60%;
    line-height: 20px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#savebutton {
    background-color: #e7e2da;
    color: white;
    float: right;
    padding: 10px 25px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#savebutton:hover {
    background-color: #c3beb7;
}

thead {
    font-family: "Rubik Mono One";
    background-color: #e7e2da;
}

tbody tr:nth-child(even) {
    background-color: #f0ece9;
}