body{
    font-family: "Roboto";
}

.config_1, .config_2 {
    display: inline-block;
}

.config_1{
    font-weight: bold;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;

}
.config_2{
    color: red;
}

#title{
    width: 30%;
}

.config_3{
    color: black;
    font-weight: lighter;
    margin-top: 1px;
    font-size: 15px;
}