#container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

#container > div {
    border: 1px solid black;
    text-indent: 4px;
    font-size: 30px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 100px;
    background-color: olive;
}

#container > div:nth-child(2n) {
    background-color: saddlebrown;
}